@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --btn-background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  }
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-family: "Space Grotesk", sans-serif;
}

@import url('./homeScreen.css');


/* -----------------header--------- */
.cart svg {
  width: 3rem;
}

/* --------signup-------- */

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup span {
  margin-right: 0.5rem;
}

.signup-btn {
  font-size: 1rem;
  font-weight: 700;
}

/* --------cart----------- */

.cart-list {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-content: center; */
  justify-items: center;
  align-items: center;
}

/* .quantity-box{
  border: 1px solid rgb(16, 15, 15);
} */

.img-des p {
  margin-bottom: 1rem;
}

.subTotal p {
  font-weight: 600;
  font-size: 1.2rem;
}

.subTotal span {
  font-weight: 400;
  font-size: 1.2rem;
}



/* ------service----- */

.service-card{
  margin: 2rem 2rem;

}


.service-box-img img{
  height: 40vh;
  width: 21vw;
  /* border-radius: 1rem; */
  border-radius:1rem ;
  /* border-top-right-radius:1rem ; */
}








/* ----------media query------------ */


@media (max-width: 600px) {
  .nav{
    display: none;
  }

  .hero-main{
    display:flex;
    flex-direction: column-reverse;


  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-icon{
    display: inline-block;
    
    font-size: 1.5rem;
    
  }
  .mobile-icon{
    display: inline-block;

    font-size: 1.5rem;
    
  }
}
