@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1,h2,h3{
  font-weight: 600;
  font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.card{
  height: 38vh;
  background: #e1dfdc;
  margin-top: 3rem;

}




.category span{
  margin-bottom: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}



.filters-box{
    /* background: #000; */
    /* border: 1px solid black; */
    height: 3rem;
    display: flex;
    flex-direction: row;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin-top: 1rem;

}

.box img{
  width: 18vw;
  height: 28vh;
}

.para{
  display: flex;
  justify-content: space-between;
  margin: 1rem ;
}

.icons span{
  margin-left: 1rem;
}

/* -----------------header--------- */
.cart svg{
  width: 3rem;
}





/* --------cart----------- */

.cart-list{
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-content: center; */
  justify-items: center;
  align-items: center;
}

.quantity-box{
  border: 1px solid rgb(16, 15, 15);
}

.img-des p{
  margin-bottom: 1rem;
}

.subTotal p{
  font-weight: 600;
  font-size: 1.2rem;

}


.subTotal span{
  font-weight: 400;
  font-size: 1.2rem;

}